html,
body {
  height: 100%;
}

body {  
  font-size: 14px;
  margin: 0;  
  background-size: cover;
  background-image: linear-gradient(90deg, #004e7d, #029797);  
}

ul {
  list-style-type: none;
  padding: 0;
}

#root {
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin: 0;
}

.bg {
  background-color: #193c6d;
  background-size: 100%;
  background-image: linear-gradient(135deg, #003073, #029797);
  height: 400px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -300px;
}

.App {
  text-align: center;
  position: relative;
  padding-bottom: 200px;
}

.App-header {
  padding: 5px 20px;
  color: #fff;
  display: flex;    
  justify-content: center;
  align-items: baseline;
}

.App-header h2 {
  font-size: calc(2.5vw + 2.5vh);
  font-weight: 100;
}

.App-header-text {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: calc(4vw + 4vh);
  color: #FFC107;
  margin-left: 15px;
}

.Reachout {
  font-size: calc(2vw + 2vh);
  color: #FFC107;
  margin-top: 4vw;
}

.Reachout-Items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reachout-Item {
  margin: 0 10px 0 0;
}

.Reachout-Item-3 {
  font-family: 'Just Me Again Down Here', cursive;
}

.Reachout-Item-1,
.Reachout-Item-2 {
  color: #fff;
  font-size: calc(2vw + 2vh);
  margin-top: 1vw;  
}

.Reachout-Item-2 {
  margin-right: 1.5vw;
}

.Reachout-Item-3 {
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  position: relative;
  font-size: 6vw;
  margin-top: 5px;
  margin-left: -8px;
}

.Contacts {
  margin: 0;
  padding: 0;
}

.Contact {
  display: inline-flex; 
  height: 40px;
  position: relative;
  margin-top: 2vw;
}

.Contact img {
  width: 40px;
}

.Contact.twitter img {
  width: 40px;
}

.Contact.linkedin img {
  width: 35px;
  margin-left: 5px;
}

.Contact a {
  display: flex;
  color: #B3F4FF;
  transition: 0.05s color linear;
  font-size: 2.2vw;
  justify-content: center;
  align-items: center;
}

.Contact a:hover {
  color: #fff;
}

.Contact img {
  width: 45px;
  height: auto;
  position: relative;
}

.Address {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  color: #fff;
}

.Intro {
  color: #fff;
  font-size: 25px;  
  font-size: calc(1.6vw + 1.6vh);
  text-align: center;
  line-height: 38px;
  margin: 0 40px;
}

.Callout-title {
  color: #212121;
  display: inline-block;
  margin: 60px 0 100px 0;
  font-size: calc(1.4vw + 1.4vh);
  font-weight: 100;
  background: rgba(178, 223, 219, 0.8);
  padding: 15px;
  border-radius: 35px 10px 35px 10px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.Logo {
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.Logo.navy {
  height: 85px;
  width: 85px;
  padding: 20px;
}

.Logo.node {
  border: 4px solid #77ae64;
}

.Logo.react {
  border: 4px solid #00D8FF;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.Logo.react:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #B3F4FF;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.aws {
  border: 4px solid #f68d11;
  height: 110px;
  width: 110px;
  padding: 20px;
}

.Logo.aws:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #F5C48C;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.webpack {
  border: 4px solid #7396d5;
  height: 90px;
  width: 90px;
  padding: 20px;
}

.Logo.webpack:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #9ab7e6;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.nginx {
  height: 95px;
  width: 95px;
  padding: 25px;  
  border: 4px solid #209a46; 
}

.Logo.nginx:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #25B352;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.navy {
  border: 4px solid #182f64; 
}

.Logo.navy:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #3567DB;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.node:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #9DDA88;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.sketch {
  border: 3px solid #fc9d00; 
  height: 70px;
  width: 70px;
}

.Logo.sketch:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #fee89a;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.babel {
  border: 3px solid #E6C835; 
  height: 100px;
  width: 100px;
}

.Logo.babel:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #F7ECB5;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.mocha {
  border: 3px solid #8d6748; 
  height: 70px;
  width: 70px;
}

.Logo.mocha:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #cdbdaf;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.github {
  border: 3px solid #000; 
  height: 125px;
  width: 125px;
}

.Logo.github:before {
  content: ' ';
  position: absolute;  
  border: 3px solid #f3cab3;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.redux {
  border: 5px solid #764abc; 
}

.Logo.redux:before {  
  content: ' ';
  position: absolute;  
  border: 5px solid #9F63FF;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo.docker {
  height: 90px;
  width: 90px;
  padding: 25px;  
  border: 4px solid #158cb6; 
}

.Logo.docker:before {
  content: ' ';
  position: absolute;  
  border: 4px solid #31b8e8;  
  border-radius: 50%;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
}

.Logo img {
  max-width: 100%;
}

.Experience-logo {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 0;
  border: 3px solid #BBDEFB;  
  border-width: 3px;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.Experience-logo:before {
  content: ' ';
  position: absolute;
  border: 4px solid #e0f1ff;
  border-radius: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.Experience-logo.alternate:before {
  border-color: #FFECB3;
}

.Experience-logo.alternate {
  margin-top: 95px;
  border: 3px solid #FFC107;  
  background: #fff;
  width: 110px;
  min-width: 110px;
  height: 110px;
}

.Experience-logo img {
  max-width: 100%;
}

.Experience-logo.alternate img {
  max-width: 90px;
  max-height: 30px;
}

.Callout-entry {
  display: flex;
  padding: 0 40px;
  position: relative;
}

.Callout-entry.alternate {
  margin-right: 20px;
}

.Callout-experience {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
}

.Experience-detail {
  display: flex;
  flex: 1;
  border: 3px solid #B3E5FC;
  border-width: 3px 3px 3px 0;
  border-radius: 0 20px 50px 0;
  margin-left: -70px;
  height: 130px;
  max-height: 136px;
  padding-left: 70px;
}

.Experience-detail.alternate {
  border-width: 3px 0 3px 3px;
  border-radius: 50px 0 0 20px;
  padding-left: 0;
  border-color: #FFC107;
  margin-left: 40px;
  margin-right: -65px;
  margin-top: 95px;
  display: flex;
  padding: 5px 80px 5px 35px;
  align-items: center;
}

.Experience-detail p {
  font-size: calc(1.3vw + 1.3vh);
  flex: 1;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
  color: #B2DFDB;
  display: flex;
  align-items: center;
  padding: 0 15px 0 10px;
}

.Experience-detail.alternate p {
  padding: 0;
  margin: 5px 0;
}

.Connector-1,
.Connector-2 {
  position: absolute;
  opacity: 0.2;
}

.Connector-1 {
  top: calc(100% + 5px);
  left: 30vw;  
  height: 97px;
}

.Connector-2 {
  top: calc(100% + 2px);
  left: 43vw;  
  height: 95px;
}

.Connector-3 {  
  height: 100px;
  opacity: 0.2;
}

.Connector-4 {
  position: absolute;
  left: 19vw;
  opacity: 0.1;
  height: 100px;
}

.Connector-5 {
  position: absolute;
  left: -27vw;
  opacity: 0.1;
  height: 200px;
  transform: scale(1.3);
  top: -2vw;
}

.Connector-1,
.Connector-2,
.Connector-3,
.Connector-4,
.Connector-5 {
  animation: flash 8s ease-out alternate-reverse infinite;
}

.Connector-1 path,
.Connector-2 path,
.Connector-3 path,
.Connector-4 path,
.Connector-5 path {
  stroke-linecap: round;
  stroke-dasharray: 6px 14px;
  animation: dash 13s linear reverse infinite;
}

.Fanout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}

.Fanout.row-2 {
  margin-top: -2vw;
}

.Fanout.row-3 {
  margin-top: -2vw;
}

.Logos {
  position: relative;
  margin: 1vw 2vw;
}

@keyframes flash {
  to {
    opacity: 0.9;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}
