@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  font-weight: 100;
  margin: 0;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #7B1FA2;
}

ul {
  list-style-type: none;
  padding: 0;
}

.Violet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thanks {
  position: absolute;
  display: none;
  background: #fff;
  padding: 40px 80px;
  z-index: 20;
  border: 4px solid #7B1FA2;
  border-radius: 15px;
}

header {
  display: flex;
  margin: 20px 0 0 0;
  flex-direction: column;
}

.header--benefit {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}

.header--wrapper {
  display: inline-flex;
  align-self: flex-end;
  flex-direction: column;
}

.header--benefit {
  background: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 10px 10px 0 0;
  border-width: 4px 4px 0 4px;
  padding: 5px 10px;
}

.header--details {
  margin: 0;
  text-transform: uppercase;
  align-self: flex-end;
  display: flex;
  border: 4px solid #fff;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.header--location {
  padding: 10px 10px 10px 41px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  background: #7B1FA2;
  color: #fff;
  border-right: 4px solid #fff;
}

.header--time {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  background: #E1BEE7;
  color: #7B1FA2;
}

.header--location sup,
.header--time sup {
  font-size: 10px;
}

header h1 {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 65px;
}

main {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.main--description {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}

.main--description h2 {
  margin: 20px auto 10px auto;
  font-size: 21px;
  font-weight: 400;
  font-size: 400;
  width: 60%;
  height: 100%;
  padding: 0 0 0 30px;
  text-align: left;
}

.main--photos {
  display: flex;
  align-items: space-around;
  justify-content: center;
  margin: 40px 0 0 0;
}

.main--photos li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  border: 4px solid rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

.main--photos li span {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  background: #7B1FA2;
  padding: 5px 0;
}

.main--photos li img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 160px;
}

.main--photos li:nth-child(1){
  border-radius: 45px 30px 30px 40px;
}

.main--photos li:nth-child(2){
  border-radius: 30px;
}

.main--photos li:nth-child(3){
  border-radius: 30px 45px 40px 30px;
}

.main--photo-description {
  text-align: center;
}

.rsvp {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255, 0.6);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0 0 10px;
  border: 3px solid #9C27B0;
  padding: 10px 0 0 0;
  font-family: 'Amatic SC', cursive;
  width: 75%;
}

.rsvp label {
  margin: 10px 0 0 0;
  padding: 6px 25px;
}

.rsvp label span {
  padding-right: 15px;
}

.rsvp label input[type="text"] {
  font-size: 16px;
  border-radius: 15px 10px 20px 10px;
  border: 2px solid #9C27B0;
  outline: none;
  padding: 6px 5px;
  color: #9C27B0;
  min-width: 250px;
}

.rsvp label input[type="text"]:focus {
  border: 2px solid #E1BEE7;
}

.rsvp label input[type="text"]::placeholder {
  font-size: 18px;
  position: relative;
  top: -1px;
  left: 4px;
  opacity: 0.9;
  font-family: 'Amatic SC', cursive;
}

@keyframes glow {
  0% {

  }

  100% {
    color: #FFEB3B;
    text-shadow: #FFEB3B 0 0 10px;
  }
}

.rsvp input[type="submit"] {
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 25px;
  border-radius: 0;
  background: #9C27B0;
  box-shadow: 5px 5px 5px 3px #9C27B0;
  color: #fff;
  border: none;
  margin: 30px 0 0 0;
  padding: 8px 0;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: #9C27B0 0 0 10px;
}

footer {
  margin: 60px 0 0 0;
  display: flex;
  background: #fff;
  border: 1px solid #197095;
  border-radius: 10px;
  overflow: hidden;
  color: #197095;
  position: relative;
}

footer::after {
  content: 'Sponsored by';
  text-transform: uppercase;
  font-size: 10px;
  color: #b1b1b1;
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 30;
}

footer img {
  height: 65px;
}

.footer--details {
  flex: 1;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer--details h4 {
  margin: 0 0 5px 0;
}
